.elementor-103 .elementor-element.elementor-element-24e40ea > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-103 .elementor-element.elementor-element-24e40ea{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0% 2% 0% 2%;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-103 .elementor-element.elementor-element-24e40ea > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-103 .elementor-element.elementor-element-df6f8d5.elementor-column .elementor-column-wrap{align-items:center;}.elementor-103 .elementor-element.elementor-element-df6f8d5.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-103 .elementor-element.elementor-element-df6f8d5:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-103 .elementor-element.elementor-element-df6f8d5 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(105deg, #dcdcdc 54%, #eeeeee 68%);}.elementor-103 .elementor-element.elementor-element-df6f8d5 > .elementor-element-populated >  .elementor-background-overlay{opacity:0.5;}.elementor-103 .elementor-element.elementor-element-df6f8d5 > .elementor-element-populated, .elementor-103 .elementor-element.elementor-element-df6f8d5 > .elementor-element-populated > .elementor-background-overlay, .elementor-103 .elementor-element.elementor-element-df6f8d5 > .elementor-background-slideshow{border-radius:25px 25px 25px 25px;}.elementor-103 .elementor-element.elementor-element-df6f8d5 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-103 .elementor-element.elementor-element-df6f8d5 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-103 .elementor-element.elementor-element-df6f8d5 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-103 .elementor-element.elementor-element-7b9636c > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-103 .elementor-element.elementor-element-7b9636c{padding:16% 0% 7% 9%;}.elementor-103 .elementor-element.elementor-element-3050753 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-103 .elementor-element.elementor-element-3050753 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-103 .elementor-element.elementor-element-c657f87 .aux-modern-heading-primary{font-family:"Poppins", Sans-serif;font-size:30px;font-weight:500;line-height:43px;letter-spacing:-1.3px;color:var( --e-global-color-text );margin:0px 0px -11px 0px;}.elementor-103 .elementor-element.elementor-element-c657f87 .aux-modern-heading-secondary{font-family:"Poppins", Sans-serif;font-size:80px;font-weight:bold;line-height:120px;letter-spacing:-2px;color:var( --e-global-color-text );margin:0px 0px 0px 0px;}.elementor-103 .elementor-element.elementor-element-c657f87 .aux-modern-heading-description{color:#f8f8f8;font-family:"Montserrat", Sans-serif;font-size:194px;font-weight:900;text-transform:uppercase;line-height:150px;letter-spacing:-2.9px;margin:0px 0px 0px -11px;}.elementor-103 .elementor-element.elementor-element-c657f87 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-103 .elementor-element.elementor-element-c657f87{width:auto;max-width:auto;animation-duration:2500ms;animation-timing-function:cubic-bezier(0.77,0,0.175,1);}.elementor-103 .elementor-element.elementor-element-bbd5e6c{text-align:left;width:auto;max-width:auto;z-index:5;position:absolute;bottom:20%;left:0%;animation-delay:1450ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-103 .elementor-element.elementor-element-bbd5e6c .aux-button{padding:16px 35px 16px 35px;background-color:var( --e-global-color-primary );text-shadow:0px 0px 10px rgba(0,0,0,0);}.elementor-103 .elementor-element.elementor-element-bbd5e6c .aux-button .aux-overlay::after{background-color:var( --e-global-color-text );}.elementor-103 .elementor-element.elementor-element-bbd5e6c .aux-text{font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:500;text-transform:capitalize;line-height:19px;letter-spacing:-0.5px;}.elementor-103 .elementor-element.elementor-element-d57e8a3 .aux-widget-inner > *{text-align:right;margin-left:auto !important;}.elementor-103 .elementor-element.elementor-element-d57e8a3 .aux-modern-heading-primary{font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:bold;line-height:19px;color:var( --e-global-color-text );}.elementor-103 .elementor-element.elementor-element-d57e8a3 .aux-modern-heading-description{color:rgba(0,0,0,0.60);font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;line-height:23px;margin:10px 0px 0px 0px;max-width:284px;}.elementor-103 .elementor-element.elementor-element-d57e8a3{width:auto;max-width:auto;z-index:5;position:absolute;right:9%;bottom:8%;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-103 .elementor-element.elementor-element-0b763ef .aux-media-image{max-width:1600px;border-radius:20px 20px 20px 20px;overflow:hidden;}.elementor-103 .elementor-element.elementor-element-0b763ef > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-103 .elementor-element.elementor-element-0b763ef{z-index:5;position:absolute;top:-41%;right:72px;animation-duration:2500ms;animation-delay:250ms;animation-timing-function:cubic-bezier(0.77,0,0.175,1);}.elementor-103 .elementor-element.elementor-element-3ba2b78{padding:2% 2% 0% 2%;}.elementor-103 .elementor-element.elementor-element-aaa378e{margin-top:100px;margin-bottom:0px;padding:0% 2% 0% 2%;}.elementor-103 .elementor-element.elementor-element-5c57cd1 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-103 .elementor-element.elementor-element-5c57cd1 .aux-modern-heading-primary{font-family:"Poppins", Sans-serif;font-size:45px;font-weight:bold;line-height:68px;letter-spacing:-1.7px;color:var( --e-global-color-text );margin:0px 0px 0px 0px;}.elementor-103 .elementor-element.elementor-element-5c57cd1 .aux-modern-heading-secondary{font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:400;line-height:23px;color:rgba(0,0,0,0.6);}.elementor-103 .elementor-element.elementor-element-5c57cd1{animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-103 .elementor-element.elementor-element-d6ed5a3 .aux-media-frame img{border-radius:20px 20px 20px 20px !important;}.elementor-103 .elementor-element.elementor-element-d6ed5a3 .woocommerce-loop-product__title{color:var( --e-global-color-text );font-family:"Poppins", Sans-serif;font-size:17px;font-weight:400;line-height:24px;letter-spacing:-1px;margin-bottom:8px;}.elementor-103 .elementor-element.elementor-element-d6ed5a3{animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}@media(max-width:1024px){.elementor-103 .elementor-element.elementor-element-7b9636c{padding:80px 50px 80px 50px;}.elementor-103 .elementor-element.elementor-element-c657f87 .aux-modern-heading-primary{font-size:20px;margin:0px 0px 0px 0px;}.elementor-103 .elementor-element.elementor-element-c657f87 .aux-modern-heading-secondary{font-size:48px;line-height:39px;margin:0px 0px 40px 0px;}.elementor-103 .elementor-element.elementor-element-c657f87 .aux-modern-heading-description{font-size:12.3vw;line-height:38px;margin:53px 0px 0px 0px;}.elementor-103 .elementor-element.elementor-element-bbd5e6c .aux-button{padding:10px 20px 10px 20px;}.elementor-103 .elementor-element.elementor-element-bbd5e6c .aux-text{font-size:13px;}.elementor-103 .elementor-element.elementor-element-bbd5e6c{bottom:0%;}.elementor-103 .elementor-element.elementor-element-d57e8a3 .aux-modern-heading-description{font-size:13px;line-height:20px;max-width:222px;}.elementor-103 .elementor-element.elementor-element-d57e8a3{right:0px;bottom:-62px;}.elementor-103 .elementor-element.elementor-element-0b763ef > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-103 .elementor-element.elementor-element-0b763ef{top:-33%;right:0px;}.elementor-103 .elementor-element.elementor-element-3ba2b78{padding:4% 2% 0% 2%;}.elementor-103 .elementor-element.elementor-element-aaa378e{padding:0px 0px 0px 10px;}.elementor-103 .elementor-element.elementor-element-5c57cd1 .aux-modern-heading-primary{font-size:39px;}.elementor-103 .elementor-element.elementor-element-5c57cd1 .aux-modern-heading-secondary{font-size:14px;}}@media(max-width:767px){.elementor-103 .elementor-element.elementor-element-7b9636c{padding:14% 5% 14% 5%;}.elementor-103 .elementor-element.elementor-element-c657f87 .aux-modern-heading-primary{font-size:14px;line-height:21px;margin:0px 0px 0px 0px;}.elementor-103 .elementor-element.elementor-element-c657f87 .aux-modern-heading-secondary{font-size:31px;margin:0px 0px 0px 0px;}.elementor-103 .elementor-element.elementor-element-c657f87 .aux-modern-heading-description{margin:33px 0px 0px 0px;}.elementor-103 .elementor-element.elementor-element-bbd5e6c .aux-text{font-size:12px;}.elementor-103 .elementor-element.elementor-element-bbd5e6c{bottom:-13%;}.elementor-103 .elementor-element.elementor-element-0b763ef{top:-6%;right:-54px;}.elementor-103 .elementor-element.elementor-element-3ba2b78{margin-top:0px;margin-bottom:0px;}.elementor-103 .elementor-element.elementor-element-5c57cd1 .aux-modern-heading-primary{line-height:49px;}}/* Start custom CSS for aux_modern_heading, class: .elementor-element-c657f87 */@media only screen and (max-width:1261px)and (min-width:1025px) {
.elementor-103 .elementor-element.elementor-element-c657f87 .aux-modern-heading-secondary{
    font-size: 60px;
    line-height: 86px;
}
}
@media only screen and (max-width:1679px)and (min-width:1025px) {
.elementor-103 .elementor-element.elementor-element-c657f87 .aux-modern-heading-description{
  font-size: 12vw;
}
}
@media only screen and (max-width:632px){
.elementor-103 .elementor-element.elementor-element-c657f87 .aux-modern-heading-description{
  margin-top:20px;
}
}/* End custom CSS */
/* Start custom CSS for aux_button, class: .elementor-element-bbd5e6c */@media only screen and (max-width:1378px)and (min-width:1025px) {
.elementor-103 .elementor-element.elementor-element-bbd5e6c{
   bottom: 17%;
}
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-d57e8a3 */@media only screen and (max-width:1694px)and (min-width:1025px) {
.elementor-103 .elementor-element.elementor-element-d57e8a3{
   right: 7%;
   bottom: 4%;
}
}/* End custom CSS */
/* Start custom CSS for aux_image, class: .elementor-element-0b763ef */@media only screen and (max-width:1407px)and (min-width:1025px) {
.elementor-103 .elementor-element.elementor-element-0b763ef{
    right: -29px;
}
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-df6f8d5 */.elementor-103 .elementor-element.elementor-element-df6f8d5:hover {
        box-shadow: 0 10px 50px rgba(178,178,178,0.26)!important;
    transition: all 400ms ease-in-out 70ms;
    border-radius: 20px;
}
.elementor-103 .elementor-element.elementor-element-df6f8d5{
    border-radius: 25px;
        transition: all 400ms ease-in-out 70ms;
}/* End custom CSS */
/* Start custom CSS for aux_recent_product, class: .elementor-element-d6ed5a3 */.elementor-103 .elementor-element.elementor-element-d6ed5a3 .woocommerce-Price-amount, .elementor-103 .elementor-element.elementor-element-d6ed5a3 .aux-recent-product-item .price ins{
    font-weight: bold;
    font-size: 20px;
    color: var(--e-global-color-text);
    float: inherit;
}
.elementor-103 .elementor-element.elementor-element-d6ed5a3 .woocommerce-loop-product__title{
    margin-top: 19px;
    transition: all .2s cubic-bezier(0.4, 0, 0.2, 1) 70ms;
}
.elementor-103 .elementor-element.elementor-element-d6ed5a3 .product:hover .woocommerce-loop-product__title{
   color: var(--e-global-color-primary)!important;
   font-weight: bold!important;
   transition:all .2s cubic-bezier(0.4, 0, 0.2, 1) 70ms;
}
.elementor-103 .elementor-element.elementor-element-d6ed5a3 .product:hover .price{
	transform: none;
	opacity: 0;
	transition: opacity 300ms ease-out !important;
}
.elementor-103 .elementor-element.elementor-element-d6ed5a3 .price{
		transition: opacity 300ms 450ms ease-out !important;
}
.elementor-103 .elementor-element.elementor-element-d6ed5a3 .aux-recent-product-item .price ins{
   padding-left: 12px;
}
.elementor-103 .elementor-element.elementor-element-d6ed5a3  .aux-recent-product-item .price del .woocommerce-Price-amount, .elementor-103 .elementor-element.elementor-element-d6ed5a3  .aux-recent-product-item .price del{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    color: var(--e-global-color-secondary);
}
.elementor-103 .elementor-element.elementor-element-d6ed5a3 .aux-widget-recent-products .aux-recent-product-item .button{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    padding: 8px 25px;
    background-color: var(--e-global-color-primary);
    letter-spacing: -1px;
    line-height: 19px; 
    position: absolute;
    bottom: -7px;
    left: 0;
    opacity: 0;
	transition: opacity 300ms 300ms ease-out !important;
}
.elementor-103 .elementor-element.elementor-element-d6ed5a3 .product{
    position: relative;
    overflow: hidden;
}
.elementor-103 .elementor-element.elementor-element-d6ed5a3 .product:hover  .button {
    transform: none;
	opacity: 1;
	transition: opacity 300ms 300ms ease-out !important;
}
.elementor-103 .elementor-element.elementor-element-d6ed5a3 .aux-widget-recent-products .aux-recent-product-item .onsale{
    font-size: 13px;
    font-weight: bold;
    line-height: 47px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    z-index: 1;
    left: 4%;
    background: var(--e-global-color-primary);
    width: 48px;
    height: 48px;
    right: auto;
}
.elementor-103 .elementor-element.elementor-element-d6ed5a3  .aux-col {
    padding-right: 26px;
    padding-bottom: 25px;
     
 }

@media only screen and (max-width:767px)and (min-width:526px) {
.elementor-103 .elementor-element.elementor-element-d6ed5a3 .aux-col{
    padding-right: 20%;
    padding-left: 19%; 
    }
}
.elementor-103 .elementor-element.elementor-element-d6ed5a3 .aux-star-rating{
    display: none;
}/* End custom CSS */